<div id="<%= dom_id order %>">
  <div>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </div>

  <div>
    <strong>Customer name:</strong>
    <%= order.customer_name %>
  </div>

  <div>
    <strong>Customer address:</strong>
    <%= order.customer_address %>
  </div>

  <div>
    <strong>Pork qty:</strong>
    <%= order.pork_qty %>
  </div>

  <div>
    <strong>Chicken qty:</strong>
    <%= order.chicken_qty %>
  </div>

  <div>
    <strong>Delivery channel:</strong>
    <%= order.delivery_channel %>
  </div>

  <div>
    <strong>Delivery fee:</strong>
    <%= order.delivery_fee %>
  </div>

  <div>
    <strong>Delivery date:</strong>
    <%= order.delivery_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

</div>
